
* {
    box-sizing: border-box;
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body {
background-color: #ffff;

}

footer{ 
  position:relative; 
  bottom:0; 
  width:100%; 
  height:100px; 
}
footer{ background:#3A3333; }
* {
  font-family: 'Vollkorn', Arial, serif;
  font-size: 1em; 
}

.header-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
  
.logo {
  max-width: 200px;
  max-height: 200px;
  margin-top: -115px; 
}

.main-menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: -115px; 
  overflow: visible;
  
  max-width: 900px;  }

.main-menu a {
    width: 100%;
    text-align: center;
    padding: .75em 1em;
    display: block;
    color: #222;
    border-bottom: 1px solid #ddd; 
}

.main-menu a:hover {
      color: #c14400;
      border-bottom-color: #c14400; 
}

.drop-menu {
  display: flex;
  flex-direction: column; 
  align-items: center;
  width: 100%;
  transition: max-height .4s, opacity .3s;
  max-height: 0;
  opacity: 0;
  overflow: hidden; 
  }


.drop-menu > .menu-button {
  height: 100%;
  transition: transform .4s;
  transform: translateY(-300%);
  background: #FFFFFF;
}

.dropdown-wrapper:hover > .menu-button {
  color: #c14400;
  background: #FFFFFF; 
}

.dropdown-wrapper:hover .drop-menu{
  max-height: 300px;  
  opacity: 1;
}

.dropdown-wrapper:hover > .drop-menu .menu-button {
  transform: translateY(10%); 
}

@media (min-width: 550px) {
  
  .effect {
        transition: max-height 0s;
        opacity: 1;
        background: transparent;
      }
      .effect .menu-button {
        transform: translateY(0%); 
      }


      .scissor .menu-button{
        transform: translateX(-100%);
      }
    
      .scissor .menu-button:nth-child(2n+1) {
        transform: translateX(100%);
      }
      .dropdown-wrapper:hover .scissor .menu-button {
        transform: translateX(0%);
      }


      .fade-in .menu-button {
        transition: opacity .5s;
        opacity: 0;
      }
      .dropdown-wrapper:hover .fade-in .menu-button {
        opacity: 1;
      }
      


  .header-container {
    width: 90%;
  }

  .header-container {
    height: 100px;
    justify-content: space-between;  } 
  
  .main-menu {   
    flex-direction: row; 
    align-items: flex-start;
    height: 48px;
    margin: 140;
  }
    
  .main-menu > .menu-button {
    width: 15%;
    max-width: 120px;
  }

  .logo {
    max-width: 190px;
    max-height: 130px;
    margin-top: 5px; 
  }

}

@media (min-width: 850px) {

  .header-container {
    flex-direction: row; 
    justify-content: space-around; 
    height: 160px;
	} 

  .main-menu {
 		width: 60%;
  	justify-content: space-between;
  }

  .logo {
    margin: -30;
  }

}